.leftToRight {
  position: relative;
  top: 0;
  left: -100%;
  width: 100%;
  transition: left 1s ease-out;
}

.leftToRight.leftAnimate {
  left: 0;
}

.rightToLeft {
  position: relative;
  top: 0;
  right: -100%;
  width: 100%;
  transition: right 1s ease-out;
}

.rightToLeft.rightAnimate {
  right: 0;
}

.bottomToTop {
  opacity: 0;
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  transform: translateY(100px); 
}

.bottomToTop.topAnimate {
  opacity: 1;
  transform: translateY(0); 
}
